# Node & tooling
node_modules/
.pnpm-store/
.yarn/
.yarnrc.yml
.npm/
.cache/
.venv/*

# Vite output
build-ts/
build-ts-node/
*.log

# Temp files
*.DS_Store
*.swp
.idea/
.vscode/

# Local scripts output
public/resource/
resource/catalog.json
src/*.js
src/*.js.map

# Output and Binaries
dist/

# Python
__pycache__/
*.pyc

# Sensitive files
.env
test_page21.png
